table{
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

caption{
    caption-side: bottom;
    font-size: 0.5rem;
}

thead tr:nth-child(1){
    background-color: black;
    color: white;
}

thead tr:nth-child(2){
    background-color: darkslategray;
    color: white;
}

thead tr:nth-child(2) td:nth-child(1){
    background-color: black;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

tbody td{
    border: 1px gray;
}

thead th{
    padding: 10px;
}