@media screen and (min-width: 500px){

    h1{
        font-size: 3rem;
    }

    
}

@media screen and (min-width: 700px){

    h1{
        font-size: 4rem;
    }

    #navbar{     
        display: flex;
        flex-direction: row;
    }
    #navbar.open{     
        display: flex;
        flex-direction: row;
    }
    #menubutton{
        display: none;
    }
    
    .hero p::before{
        content: "medium";
    }

    #logo-container {
        display: flex;
        flex: 0 0 auto;
        margin-right: 1rem;
        background-color: var(--header-color);
    }
    
    #logo-container img {
        height: 80px;
    }

    nav {
        background-color: var(--nav-color);
        display: flex;
        align-items: center;
        padding: 0 1rem;
        justify-content: left;
    }
}

