/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
    --text-color: white;
    --inv-text-color: black; 
    --body-color: #EDCFC8;
    --card-color: #4F4341;
    --header-color: red;
    --nav-color: red;
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: Helvetica, sans-serif;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
}

h1{
    font-family: var(--heading-font);
    font-size: 1.4rem;
}

#content {
    margin: 0 auto;
}

header {
    background-color: var(--header-color);
}

#dark-mode {
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

#dark-mode::before {
    content: "🌚";
}

#dark-mode.dark::before {
    content: "🌝";
}

/* Navigation Styles */

#logo-container {
    display: none;
}

#menubutton {
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    margin: 10px;
    color: white;
    border: none;
}

#menubutton::before {
    content: "≡";
}

#menubutton.open::before {
    content: "X";
}

#navbar {
    display: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    justify-content: center;
}

#navbar.open {
    display: flex;
    flex-direction: column;
}

#navbar li {
    list-style: none;
    padding: 10px;
    background-color: var(--nav-color);
    text-align: center;
}

nav {
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
}


#navbar li.active {
    background-color: var(--header-color);
}

#navbar li a {
    color: white;
    text-decoration: none;
}

#navbar li:hover {
    opacity: 0.7;
}

/* Home Page Main Styles */

.hero {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 600px;
}

.hero p {
    position: absolute;
    top: 0px;
    right: 20px;
}

.hero img,
.picture {
    width: 100%;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 2;
}

#join {
    font-size: 0.75rem;
}

.hero button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--nav-color);
    padding: 8px;
    border-radius: 8px;
    margin-top: 20px;
    z-index: 2;
    border: none;
    color: white;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

#join:hover{
    background-color: darkred;
}

hr {
    color: #000000;
}

/* Event Styles */

.event {
    border: 10px;
    margin: 10px;
    padding: 5px;
    background-color: var(--body-color);
}

.event1 {
    border: 10px;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    background-color: var(--card-color);
    padding-bottom: 15px;
}

.event p,
.event h3,
.event ul {
    margin: 10px;
    color: white;
}

.event img {
    max-width: 72%;
    margin-top: 10px;
    margin-left: 25px;
    padding: 15px;
}


/* Weather Styles */

.wheather {
    border: 10px;
    margin: 10px;
    padding: 5px;
    background-color: var(--body-color);
}

.wheather1 {
    background-color: var(--card-color);
    border-radius: 8px;
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

#forecast {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#forecast section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

#forecast img,
#wheather1 img {
    width: 50px;
    height: auto;
}

/* Spotlights Styles */

.spotlights {
    background-color: var(--body-color);
    border: 10px;
    margin: 10px;
    padding: 5px;
}

.spotlights p,
.spotlights h3 {
    margin: 10px;
}

.spotlights h3 {
    font-size: 1.5rem;
}


#content h2 {
    color: var(--inv-text-color);
    margin: 20px;
    font-size: 1.8rem;
}

.spotlight1,
.spotlight2,
.spotlight3 {
    text-align: center;
    background-color: var(--card-color);
    border-radius: 8px;
    padding-top: 10px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.spotlight1 p,
.spotlight2 p,
.spotlight3 p {
    color: var(--text-color);
}

.spotlight1 img,
.spotlight2 img,
.spotlight3 img {
    max-width: 80%;
    margin: 10px;
    padding-bottom: 15px;
}

/* Miscellaneous */

.hr {
    height: 2px;
    background-color: black;
    border: none;
    width: 80%;
}

/* Footer Styles */

footer {
    text-align: center;
    color: var(--inv-text-color);
}

footer img {
    height: 80px;
    margin-top: 20px;
}

#actual-footer {
    background-color: var(--header-color);
    padding: 10px;
    color: white;
}


/* Discover Page */
#discover-content{
    color: var(--inv-text-color);
}

#discover-content img{
    max-width: 100%;
}

.discover-main section{
    margin: 1rem;
}


.discover-main hr{
    max-width: 80%;;
}

.discover-image{
    border: 2px var(--inv-text-color) solid;
}

.discover-image{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.discover-image div {    
    margin: 1rem;    
}

.discover-demographics {    
    margin: 1rem;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: 15px;
}

.discover-demographics h2 {    
    margin: 1rem;
}

.discover-demographics h3 {    
    margin: 1rem;
}

.discover-main section {    
    margin: 1rem;
}

.discover-main img {
    height: auto;
}

/* Join Page */

#join-form{
    margin: 1rem;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: 15px;
}

#join-form h3{
    margin-left: 0;
}
.myinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.myinput label {
    margin-bottom: 5px;
}

.myinput input,
.myinput textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.myradio {
    display: block;
    margin-bottom: 10px;
}

.mysubmit {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.mysubmit:hover {
    background-color: darkred;
}

.myinput input::placeholder {
    font-size: 16px;
}

#membership-info{
    margin: 15px;
    background-color: var(--card-color);
    padding: 20px;
}

#membership-info h2{
    color: white;
    margin-left: 0;
}

/* Thank You Page */
#thank-you{
    color: var(--inv-text-color);
    margin: 15px;
    background-color: white;
    padding: 15px;
}

#thank-you p{
    margin-left: 24px;
}

/* Directory Page Stuff */

.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    background-color: var(--card-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
}

#directory-selector button.active{
    background-color: red;
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 20px;
}

.directory-cards img{
    max-width: 80%;
    padding: 20px;
}

.directory-cards section{
    text-align: center;    
    width: 250px;
    background-color: var(--card-color);
    padding: 1rem;
    margin: .5rem;
}


.directory-cards .card-button{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: .5rem;
    border-radius: 5px;
}

.directory-cards .card-button:hover{
    background-color: darkred;
}

/* List View */

.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
    font-size: 12px;
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list .card-button{
    text-decoration: underline;
    color: white;   
}

.directory-list section:nth-child(odd) .card-button {
    color: var(--inv-text-color);
}

.directory-list section:nth-child(odd) {
    background-color: var(--body-color);
    color: var(--inv-text-color);
}

.directory-list section:nth-child(even) {
    background-color: var(--card-color)
}

/* Meet and great */
.meet-greet{
    background-color: white;
    grid-column: 1/4;
    text-align: center;
    display: none;
    color: #000000;
}

.meet-greet.show{
    display: block;
}

.meet-greet button{
    background-color: white;
    color: black;
}