@media screen and (min-width: 400px){
    h1{
        font-size: 1.7rem;
    }
 
}

@media screen and (min-width: 400px){
    h1{
        font-size: 1.8rem;
    }

    .hero button{
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
 
}

@media screen and (min-width: 525px){

    h1{
        font-size: 3rem;
    }

    #join {
        font-size: 1rem;
    }
    
    .hero button{
        padding: 14px;
        border-radius: 8px;
        margin-top: 20px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media screen and (min-width: 700px){

    h1{
        font-size: 4rem;
    }

    #navbar{     
        display: flex;
        flex-direction: row;
    }
    #navbar.open{     
        display: flex;
        flex-direction: row;
    }
    #menubutton{
        display: none;
    }
    
    .hero p::before{
        content: "medium";
    }

    #logo-container {
        display: flex;
        flex: 0 0 auto;
        margin-right: 1rem;
        background-color: var(--header-color);
    }
    
    #logo-container img {
        height: 80px;
        padding: 5px;
    }

    nav {
        background-color: var(--nav-color);
        display: flex;
        align-items: center;
        padding: 0 1rem;
        justify-content: left;
    }

    #cards{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .event{
        border: 2px;
        margin: 20px;
    }
    
    .event p, h3, ul{
        margin: 15px;
        color: white;
    }
    
    .event ul{
        margin-bottom: 20px;
    }
    .wheather{
        background-color: var(--body-color);
        margin: 20px;
    }
    
    .spotlights{
        background-color: var(--body-color);
        border: 10px;
        border-radius: 8px;
        margin: 10px;
        padding: 5px;
    }
    
    .spotlights p, h3{
        margin: 15px;
        color: white;
    }

    /* Dark Mode */
#dark-mode{
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
}

.spotlights{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.spotlight1,.spotlight2, .spotlight3 {
    max-width: 95%;
}


}

