:root {
    --text-color: white;
    --inv-text-color: black; 
    --body-color: #EDCFC8;
    --body-color2: white;
    --header-color: #000000;
    --nav-color: #000000;
    --heading-font: Helvetica, serif;
    --paragraph-font: Helvetica, sans-serif;
}

h2 {
    margin-top: 0;
    font-size: 5vh;
}

.item {
    background-color: var(--body-color);
    overflow: hidden;
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: flex; 
    border: 15px;
}

.products img,
.best-sellers img {
    width: 200%;
    height: auto;
    object-fit: cover;
    display: block;
}

body {
    background-color: var(--body-color2);
    font-family: var(--paragraph-font);
}

.products p,
.best-sellers p {
    text-align: center;
    color: var(--inv-text-color);
}

.product-name {
    font-weight: bold;
    font-size: 3vh;
}

.product-description {
    font-style: italic;
}

.product-price {
    color: var(--inv-text-color);
    font-size: 2.5vh;
}

.order-now {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    display: inline-block;
    text-align: center;

}
  



@media (max-width: 700px) {

    .products p,.best-sellers p {
        max-width: 60%;
        margin-left: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;

    }   

    h2 {
        padding: 30px;
    }

    .product-price {
       padding-bottom: 20px;
    }

}


@media (min-width: 700px) {
    h2 {
        text-align: left;
        padding: 3vw 0px 0px 3vw;
    }

    .products,
    .best-sellers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2vw; 
        padding: 2vw;
        max-height: 50%;
    }

    .item {
        width: 100%;
        margin: 0;
    }

    .products img,
    .best-sellers img {
        width: 180%;
    }

    .products p,.best-sellers p {
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
